.responza-article-link
{
	background: none;
	border:0px;
	cursor:pointer;
	display: block;
	margin-left: 20px;
    color: #1a0dab;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 25px;
}
.ui-dialog
{
	width: 50% !important;
	height: 50% !important;
}